.wrapper {
  padding: 20px;
  width: 300px;
  margin: auto;
  background-color: #c4f2f2;
  border: 1px solid #ec9797;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(248, 202, 202, 0.772);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #bdd3eb;
}
